#entryForm {
    display: inline-block;
    width: 25rem;
}

fieldset {
    background-color: #dddddd;
}

#noNameErrorText {
    display: none;
    color: red
}

ol {
    list-style-position: inside
}

li:nth-child(even) {
    background-color: #bcbcf7b6;
}

li:hover {
    background-color: #dddddd
}

li {
    list-style-type: none;
}

.template
{
    display: none;
}


#listItemTemplate .button {
    margin: 0 0 0 0;
}

#listItemTemplate #favStar {
    display: none;
}